/* body {
  overflow-x: hidden;
} */

.bar {
  width: 100%;
  height: 10px;
  background: radial-gradient(circle, #ff0000, #000080);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
}

.new-here {
  background: linear-gradient(45deg, #ff0000, #c8ff00, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: bold;
}
.red-yellow-white-gradient{
  background: linear-gradient(45deg, #ff0000, #c8ff00, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  
}

.logo-image {
  margin: 0px !important;

}

.login-second-col-btn {
  background: linear-gradient(to right, #005C99, #004B73, #00334D, #001F3F);

}

.login-col-2 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.navbar-items {
  position: relative;
}

.navbar-items::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0 !important;
  background-color: #ff5722 !important;
  width: 0;
  transition: width 0.3s ease;
}

.navbar-items:hover {
  color: #ff5722 !important;
}

.navbar-items:hover::after {
  width: 100%;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #ff5722 !important;
  text-decoration: underline;
}

.footer-heading {
  color: #ff5722 !important;
}

.terms-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: 'Arial', sans-serif;
}

.terms-container h1 {
  font-size: 2.5em;
  color: #007BFF;
  margin-bottom: 20px;
}

.terms-container h2 {
  font-size: 1.8em;
  color: #0056b3;
  margin-top: 20px;
  margin-bottom: 10px;
}

.terms-container p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.8;
}

.terms-container Link {
  color: #007BFF;
  text-decoration: none;
}

.terms-container a:hover {
  text-decoration: underline;
}

.terms-container #privacy-policy {
  scroll-margin-top: 100px;
}

.terms-container small {
  font-size: 0.9em;
  color: #777;
}

.privacy-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: 'Arial', sans-serif;
}

.privacy-container h1 {
  font-size: 2.5em;
  color: #007BFF;
  margin-bottom: 20px;
}

.privacy-container h2 {
  font-size: 1.8em;
  color: #0056b3;
  margin-top: 20px;
  margin-bottom: 10px;
}

.privacy-container p {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.8;
}

.privacy-container a {
  color: #007BFF;
  text-decoration: none;
}

.privacy-container a:hover {
  text-decoration: underline;
}

.privacy-container ul {
  margin-left: 20px;
  list-style-type: disc;
  color: #555;
}

.privacy-container small {
  font-size: 0.9em;
  color: #777;
}

.home-row {
  background-image: url('/public/images/home-img1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

.dashboard-sidebar li:hover {
 background-color: #a9abed;
 border-radius: 5px;
}




@media (max-width: 768px) {
  .privacy-container {
    padding: 20px;
  }

  .privacy-container h1 {
    font-size: 2em;
  }

  .privacy-container h2 {
    font-size: 1.5em;
  }

  .privacy-container p {
    font-size: 1em;
  }
}


@media (max-width: 768px) {
  .terms-container {
    padding: 20px;
  }

  .terms-container h1 {
    font-size: 2em;
  }

  .terms-container h2 {
    font-size: 1.5em;
  }

  .terms-container p {
    font-size: 1em;
  }
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}










